/* styling ids should be done here */
#dataSection{
    padding:10% 5%;
    padding-top: 15%;
    /* background-image: url("./images/enactus-background-2.jpg") ; */
}
#projectSection{
    padding:7% 5%;
    background-image: url("https://images.unsplash.com/photo-1584098115468-0f5307581d31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
#mentorSection {
    padding:7% 5%;
}
#sponsorSection {
    padding:7% 5%;
    color:white;
    background:url("https://images.unsplash.com/photo-1523112784166-c04db3a3bb7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
#contactSection {
    padding: 7% 5%;
    background-color: #f7f7f7;

}
#mainHead{
    font-size:4rem;
    margin-top:15%;
    border-bottom:2px solid rgb(211, 208, 208);
}
#tag{
    margin-top:-8.5%;
    width:100%;
    align-self: start;
    font-size: 2rem;
}
#aboutImage{
    width:80%;
    margin:auto;
}
#footerBorder {
    margin: 0% !important;
}


/* styling of classes starts here */
.sidenav {
    height: 15%; 
    width: 50px;
    position: fixed;
    padding-left: 1%;
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    margin-top: 20%;
    padding-top: 2%;
    border: thin solid black;
  }
.sidebarIcon {
    font-size: 20px;
}
.sectionBorder {
    margin-left: 45%;
    margin-right: 45%;
    border-bottom: 2px solid #e67e22; 
}
.alternateSectionBorder {
    margin-left: 47%;
    margin-right: 47%;
    border-bottom: 2px solid #050d5373; 
}
.alternate{
}
.container-fluid{
    padding:0;
}
.navbar-brand .img-fluid{
    width:auto;
    max-height:50px;
}
.card-img-top-custom{
    height:15rem;
    border-radius: 50%;
    margin:auto;
    width:15rem;
}
.btn{
    color:black;
}
.card-title-custom{
    padding-top: 4%;
    font-size:1.7rem;
    font-family: 'Balsamiq Sans', cursive;
}
.card-subtitle-custom {
    font-family: 'Balsamiq Sans', cursive;
}
.fade {
    opacity: 1;
}
.jumbotron{
    height:100vh;
    color:white;
    background-image: url("https://images.unsplash.com/photo-1587218954366-73e81322a280?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    padding:0;
    background-position:center;
}
.gradient-div{
    background-color: rgba(0, 0, 0, 0.4);
    height:100%;
    width:100%;
}
.d-flex{
    flex-wrap: wrap;
}
.formComponent {
    margin: 0 auto;
    padding: 2%;
    padding-top: 4%;
    background-color:white;
    box-shadow:2% 2% rgb(109, 106, 106);
    border-radius: 5%;
    margin-top:3%;
}


/* styling of tags in general begins here */
p{
    padding: 2%;

}
body{
    font-family: 'Poppins', sans-serif;
}
span{
    color:yellow;
}
html{
    scroll-behavior: smooth;
}

/* https://images.unsplash.com/photo-1584098115468-0f5307581d31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60 */