::-webkit-scrollbar {
    width: 10px; }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; }
  
  ::-webkit-scrollbar-thumb {
    background: #ffc300 }

/* styling ids should be done here */
#dataSection{
    padding:10% 5%;
}
#projectSection{
    padding:7% 5%;
    background-image: url("https://images.unsplash.com/photo-1584098115468-0f5307581d31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
#mentorSection {
    padding:7% 5%;
}
#sponsorSection {
    padding:7% 5%;
    color:white;
    background-image: url("https://images.unsplash.com/photo-1584098115468-0f5307581d31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");

    /* background:url("https://images.unsplash.com/photo-1523112784166-c04db3a3bb7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); */
}
#contactSection {
    padding: 7% 5%;
    background-color: #eeeeee;

}
#mainHead{
    font-size:4rem;
    margin-top:15%;
    border-bottom:2px solid rgb(211, 208, 208);
}
#tag{
    margin-top:-8.5%;
    width:100%;
    align-self: start;
    font-size: 2rem;
}
#footerBorder {
    margin-left: -36% !important;
    margin-right: -35.6% !important;
}
#contact-form{
    width:100%;
}
#contact-img{
    margin-right: 5rem!important;
}


/* styling of classes starts here */
.input-group-text{
    background-color:#ffc300;
}
.fas{
    color: #ffffff;
}
.contact-section{
    /* max-width: 700px; */
    /* padding: 100px; */
    margin:auto;
    padding: 3%;
    width: 80%;
}
.card{
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
.aboutImage{
    width: 80%;
}
.sidenav {
    height: 15%; 
    width: 50px;
    position: fixed;
    padding-left: 1%;
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    margin-top: 20%;
    padding-top: 2%;
    border: thin solid black;
  }
.sidebarIcon {
    font-size: 20px;
}
.sectionBorder {
    margin-left: 45%;
    margin-right: 45%;
    border-bottom: 2px solid #e67e22; 
}
.alternateSectionBorder {
    margin-left: 47%;
    margin-right: 47%;
    border-bottom: 2px solid #050d5373; 
}
.alternate{

}
.container-fluid{
    padding:0;
}
.navbar-brand .img-fluid{
    width:auto;
    max-height:80px;
    transition: 400ms;
}
.card-img-top-custom{
    height:10rem;
    border-radius: 50%;
    margin:auto;
    width:10rem;
}
.btn{
    color:black;
}
.card-title-custom{
    padding-top: 4%;
    font-size:1.7rem;
    font-family: 'Balsamiq Sans', cursive;
}
.card-subtitle-custom {
    font-family: 'Balsamiq Sans', cursive;
}
.fade {
    opacity: 1;
}
.jumbotron{
    height:100vh;
    color:white;
    background-image: url("https://images.unsplash.com/photo-1598763556634-5df1293f7e14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    padding:0;
    background-position:center;
    border-radius: 0;
}
.gradient-div{
    background-color: rgba(0, 0, 0, 0.4);
    height:100%;
    width:100%;
}
.d-flex{
    flex-wrap: wrap;
}
.profileLinks {
    padding-left: 2%;
    padding-right: 2%;
}
.profileLinks:hover {
    color: gray;
}

/* styling of tags in general begins here */
p{
    padding: 2%;

}
body{
    font-family: 'Poppins', sans-serif;
}
span{
    color:yellow;
}
html{
    scroll-behavior: smooth;
}
img[src="images/contact_us_check.png"]{
    margin-top:10% !important;
}

/* https://images.unsplash.com/photo-1584098115468-0f5307581d31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60 */